@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,800;1,400&display=swap');

$subtitlecolor: #0B132A;
$btncolor: #F53838;
$maincolor: #4F5665;
$fRubik: 'Rubik', sans-serif;